
{% extends "layout.html" %}  <!-- declaro de donde traigo la plantilla -->

{% block content %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Cursos</title>
</head>
<body>
  <div class="box-container">
    <div class="backbtn">
      <a href="{{ url_for ('configuracion')}}"><button type="button" class="btn btn-info btn-small-left" id="btnatras">Atrás</button></a>
    </div>
    <div class="container">
      <div class="card-deck-pdp" id="card-deck"></div>
    </div>
  </div>
  <script>
    // Función que obtiene los datos de la API y crea las cards
    function obtenerDatos() {
      fetch('https://pd-api-firebase-default-rtdb.firebaseio.com/Cursos.json')
      .then(response => response.json())
      .then(data => {
        const cardDeck = document.getElementById('card-deck');
        cardDeck.innerHTML = '';
        for (let key in data) {
          const objeto = data[key];

          const card = document.createElement('div');
          card.classList.add('box-courses');

          const imagen = document.createElement('img');
          imagen.classList.add('card-img-top');
          imagen.src = objeto.Pic;

          const cardBody = document.createElement('div');
          cardBody.classList.add('card-body');

          const titulo = document.createElement('h5');
          titulo.classList.add('card-title');
          titulo.textContent = objeto.Nombre;

          const descripcion = document.createElement('p');
          descripcion.classList.add('card-text');
          descripcion.textContent = objeto.Descripcion;

          const duracion = document.createElement('p');
          duracion.classList.add('card-text');
          duracion.textContent = 'Duración: ' + objeto.Duracion + ' años';

          const materias = document.createElement('p');
          materias.classList.add('card-text');
          materias.textContent = 'Cantidad de materias: ' + objeto.Materias;

          // Agregar botones para modificar los campos
          const btnNombre = document.createElement('button');
          btnNombre.classList.add('btn', 'btn-primary', 'mb-2');
          btnNombre.textContent = 'Modificar nombre';
          btnNombre.addEventListener('click', () => {
            const nuevoNombre = prompt('Ingrese el nuevo nombre del curso:', objeto.Nombre);
            if (nuevoNombre) {
              objeto.Nombre = nuevoNombre;
              actualizarDatos(objeto, key);
            }
          });

          const btnDescripcion = document.createElement('button');
          btnDescripcion.classList.add('btn', 'btn-primary', 'mb-2');
          btnDescripcion.textContent = 'Modificar descripción';
          btnDescripcion.addEventListener('click', () => {
            const nuevaDescripcion = prompt('Ingrese la nueva descripción del curso:', objeto.Descripcion);
            if (nuevaDescripcion) {
              objeto.Descripcion = nuevaDescripcion;
              actualizarDatos(objeto, key);
            }
          });

          const btnDuracion = document.createElement('button');
          btnDuracion.classList.add('btn', 'btn-primary', 'mb-2');
          btnDuracion.textContent = 'Modificar duración';
          btnDuracion.addEventListener('click', () => {
            const nuevaDuracion = prompt('Ingrese la nueva duración del curso:', objeto.Duracion);
            if (nuevaDuracion) {
              objeto.Duracion = nuevaDuracion;
              actualizarDatos(objeto, key);
            }
          });

          const btnMaterias = document.createElement('button');
          btnMaterias.classList.add('btn', 'btn-primary', 'mb-2');
          btnMaterias.textContent = 'Modificar cantidad de materias';
          btnMaterias.addEventListener('click', () => {
            const nuevasMaterias = prompt('Ingrese la nueva cantidad de materias:', objeto.Materias);
            if (nuevasMaterias) {
              objeto.Materias = nuevasMaterias;
              actualizarDatos(objeto, key);
            }
          });

          const btnImagen = document.createElement('button');
          btnImagen.classList.add('btn', 'btn-primary', 'mb-2');
          btnImagen.textContent = 'Modificar imagen';
          btnImagen.addEventListener('click', () => {
            const input = document.createElement('input');
            input.type = 'file';
            input.accept = 'image/*';
            input.addEventListener('change', () => {
              const fileReader = new FileReader();
              fileReader.readAsDataURL(input.files[0]);
              fileReader.onload = () => {
                objeto.imagen = fileReader.result;
                actualizarDatos(objeto, key);
              }
            });

            input.click();
          });

          const btnPortada = document.createElement('button');
          btnPortada.classList.add('btn', 'btn-primary', 'mb-2');
          btnPortada.textContent = 'Modificar portada';
          btnPortada.addEventListener('click', () => {
            const input = document.createElement('input');
            input.type = 'file';
            input.accept = 'image/*';
            input.addEventListener('change', () => {
              const fileReader = new FileReader();
              fileReader.readAsDataURL(input.files[0]);
              fileReader.onload = () => {
                objeto.Portada = fileReader.result;
                actualizarDatos(objeto, key);
              }
            });

            input.click();
          });

          cardBody.appendChild(titulo);
          cardBody.appendChild(descripcion);
          cardBody.appendChild(duracion);
          cardBody.appendChild(materias);
          cardBody.appendChild(btnNombre);
          cardBody.appendChild(document.createElement('br'));
          cardBody.appendChild(btnDuracion);
          cardBody.appendChild(document.createElement('br'));
          cardBody.appendChild(btnDescripcion);
          cardBody.appendChild(document.createElement('br'));
          cardBody.appendChild(btnMaterias);
          cardBody.appendChild(document.createElement('br'));
          cardBody.appendChild(btnImagen);
          cardBody.appendChild(document.createElement('br'));
          cardBody.appendChild(btnPortada);

          card.appendChild(imagen);
          card.appendChild(cardBody);

          cardDeck.appendChild(card);
        }
      })
      .catch(error => console.error(error));
    }
    
    // Función que actualiza los datos en la API
    function actualizarDatos(objeto, key) {
      fetch(`https://pd-api-firebase-default-rtdb.firebaseio.com/Cursos/${key}.json`, {
        method: 'PATCH',
        body: JSON.stringify(objeto)
      })
      .then(response => {
        if (response.ok) {
          alert('Datos actualizados correctamente');
           location.reload();
        } else {
          throw new Error('Error al actualizar los datos');
        }
      })
      .catch(error => console.error(error));
    }

    obtenerDatos();

  </script>
</body>
</html>

{% endblock%}